/* UserForm.css */

.FormBox {
    max-width: 600px;
    margin: auto; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
    transition: transform 0.2s; }



.FormBox:hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.animated-input {
    transition: box-shadow 0.3s, border-color 0.3s; 
}


.animated-input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.btn-primary {
    transition: background-color 0.3s, transform 0.3s; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

.alert {
    transition: opacity 0.5s; 
}

.alert.show {
    opacity: 1;
}
