*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #6a0dad;
  padding: 0 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  gap: 20px; 
  width: 100%;
  
}

span {
  font-weight: 800;
  color: white;
  font-size: 2rem;
}

.custom-class {
  display: flex;
  align-items: center;
 margin-bottom: 0px;

  list-style: none;
  padding: 0; 
  margin: 0; 
}

li {
  display: flex;
  align-items: center;
}

button {
  padding: 8px 12px; 
  border-radius: 4px;
  border: 2px solid transparent; 
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  transition: all 0.3s ease; 
  margin-left: 8px; 
}

input {
  padding: 4px;
  border-radius: 4px;
 border: 0px;
  outline: none; 
  transition: border-color 0.3s ease; 
}

button:hover {
  background-color: #ffcc00; 
  border-radius: 4px;
  color: #6a0dad; 
  border: 2px solid #6a0dad; 
}

button:focus {
  outline: none;
}


.foot{
  background-color: #6a0dad; 
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  width: 100%;


}

.hover:hover{
  scale: 1.01;
  box-shadow: 0px 3px;
}

.mono-body{
  height: max-content;
  
}

