.formContainer {
    width: 100%;
     margin: 0px;
     padding: 20px;
     background-color: #f8f9fa;
     border-radius: 8px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
     
 }
 
 h2 {
     text-align: center;
     color: #6a0dad;
 }
 
 .formGroup {
     margin-bottom: 15px;
 }
 
 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }
 
 input {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 1em;
 }
 
 input:focus {
     border-color: #6a0dad;
     outline: none;
 }
 
 .submitButton {
     width: 100%;
     padding: 10px;
     background-color: #6a0dad;
     color: white;
     border: none;
     border-radius: 4px;
     font-size: 1em;
     cursor: pointer;
     transition: background-color 0.3s;
 }
 
 .submitButton:hover {
     background-color: #5c0c9b;
 }
 