
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #007bff;
  text-decoration: none;
}

.page-link:hover {
  text-decoration: underline;
}

.active .page-link {
  background-color: #007bff;
  color: white;
}
